---
layout: default
---

<div class="home">

      <div class='image-holder-1'>
          <img class='img-project' src='{{ "/assets/wifi.png" | relative_url }}'>
      </div>

      <div class='image-holder-2'>
        <img class='img-project' src='{{ "/assets/dance.png" | relative_url }}'>
      </div>

      <div class='image-holder-3'>
        <img class='img-project' src='{{ "/assets/megaphone.png" | relative_url }}'>
      </div>

      <div class='image-holder-4'>
          <img class='img-project' src='{{ "/assets/pacman.png" | relative_url }}'>
      </div>

</div>
<div class='detail-cont'>
  <div class='detail-content-1 hidden'>
      <footer-col-wrapper>
          <div class="footer-col">
            <div class="footer-col-1-left">
                <p class='detail-title'>WiFi Finder</p>
                <p class='detail-content'>This is a project created using Angular-4 on the frontend, and postgreSQL on the backend.
                  WiFi Finder allows the user to locate WiFi hotspots around them, or in specific areas. Based on data pulled from backend data entered from user.
                  The project utilizes Angular's observables, as well as data response following JSON API's formatting conventions.
                  <br>
                  Link to github <a href='https://github.com/RyanGKist/WifiApp' target='.blank'>here</a>.
                </p>
            </div>
            <div class="footer-col-1-right">
              <ul>
                <h3 class='detail-title'>Tech</h3 class='detail-title'>
                <li>Angular 4</li>
                <li>postgreSQL</li>
                <li>SCSS</li>
              </ul>
            </div>
          </div>
        </footer-col-wrapper>
  </div>
  <div class='detail-content-2 hidden'>
      <footer-col-wrapper>
          <div class="footer-col">
            <div class="footer-col-1-left">
                <p class='detail-title'>Are we Grooving?</p>
                <p class='detail-content'>iOS app made utilizing Core Motion library. The app allows users to generate color schemes based on movement.
                  Creating an interactive and responsive app. Prioritized tasks into main queue. To allow for real time display of movement.
                  <br>
                  Link to github <a href='https://github.com/RyanGKist/AreweGrooving' target='.blank'>here</a>.
                  <br>
                  Link to video <a href='https://youtu.be/xtqP7R5KwWM' target='.blank'>here</a>.
                </p>
            </div>
            <div class="footer-col-1-right">
              <ul>
                <h3 class='detail-title'>Tech</h3 class='detail-title'>
                <li>Swift</li>
                <li>Core Motion</li>
              </ul>
            </div>
          </div>
        </footer-col-wrapper>
  </div>
  <div class='detail-content-3 hidden'>
      <footer-col-wrapper>
          <div class="footer-col">
            <div class="footer-col-1-left">
                <p class='detail-title'>Political Storm</p>
                <p class='detail-content'>Political blog, built using Ruby on Rails & styling done using Spectre SCSS.
                  <br>
                  Link to github <a href='https://github.com/RyanGKist/Political-Storm' target='.blank'>here</a>.
                </p>
            </div>
            <div class="footer-col-1-right">
              <ul>
                <h3 class='detail-title'>Tech</h3>
                <li>Ruby</li>
                <li>Rails</li>
                <li>Jquery</li>
                <li>SCSS</li>
              </ul>
            </div>
          </div>
        </footer-col-wrapper>
  </div>
  <div class='detail-content-4 hidden'>
      <footer-col-wrapper>
          <div class="footer-col">
            <div class="footer-col-1-left">
                <p class='detail-title'>Pacman</p>
                <p class='detail-content'>
                  This is a simple pacman game created using only Javascript, CSS, and HTML. Collaborated with a member of my coding bootcamp.
                  Utilized HTML DOM manipulation through JavaScript functions & conditionals, to allow Pacman and Ghost to maneuver around the map within
                  the correct bounds of the map.
                  <br>
                  Link to github <a href='https://github.com/laurenhesterman/Pacman' target='.blank'>here</a>.
                </p>
            </div>
            <div class="footer-col-1-right">
              <ul>
                <h3 class='detail-title' >Tech</h3>
                <li>JavaScript</li>
                <li>HTML</li>
                <li>CSS</li>
              </ul>
            </div>
          </div>
        </footer-col-wrapper>
  </div>
  <div class='detail-about-me'>
    <p class='detail-title'>About me</p>
    <p class='detail-content'>My name is Ryan Kistner I am a frontend Web Developer,
      As well as a Coding Dojo alumni. I have built multiple full stack applications in 
      Django, MEAN, and iOS. 
      I have fallen in love with writing iOS and MEAN apps. Odd mix, but I like what I like :)
      I am a musician, who loves playing live shows and jamming with friends, as well as an avid gamer.
      I am eager to continue to grow in my career of Web Development. I had worked in the Semi-Conductor industry for 6+ years before 
      making the decision to start coding. So far it has been a great decisons, and I am excited for it to continue.
      Please feel free to look at any of my projects listed above, or my github & linkedIn accounts listed below.
      Also, please feel free to contact me with any questions, opportunties, or concerns.
      Look forward to talking with you!
    
      
    </p>
  </div>
</div>  
